<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div layout:fragment="content">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" th:href="@{/}">JAVA TOOLBOX</a>
            </div>
            <div class="navbar-menu">
                <div class="navbar">
                    <a class="navbar-item" th:href="@{/}">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        <span>Freeword</span>
                    </a>
                    <a class="navbar-item" th:href="@{/tags}">
                        <span class="icon"><i class="fas fa-tags"></i></span>
                        <span>Tags</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <h1 class="title">Tools for: <span th:text="${query}">hoge</span></h1>
            <div class="notification is-warning" th:if="${tools.isEmpty()}">
                <p>There are no libraries which fits your query.</p>
                <p>Why don't you <a href="https://github.com/blackawa/java-toolbox/issues/new">create issue</a> to improve java-toolbox?</p>
            </div>
            <table class="table is-fullwidth" th:if="${!tools.isEmpty()}">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Description</th>
                    <th>Tags</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tool : ${tools}">
                    <td th:text="${tool.name}"></td>
                    <td><a th:text="${tool.url}" th:href="${tool.url}"></a></td>
                    <td th:text="${tool.description}"></td>
                    <td class="tags">
                        <span class="tag" th:each="tag : ${tool.tags}" th:text="${tag.name}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>