<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div layout:fragment="content">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" th:href="@{/}">JAVA TOOLBOX</a>
            </div>
            <div class="navbar-menu">
                <div class="navbar">
                    <a class="navbar-item" th:href="@{/}">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        <span>Freeword</span>
                    </a>
                    <a class="navbar-item" th:href="@{/tags}">
                        <span class="icon"><i class="fas fa-tags"></i></span>
                        <span>Tags</span>
                    </a>
                    <span class="navbar-item">
                        <a class="button is-dark" target="_blank"
                           href="https://github.com/blackawa/java-toolbox/blob/master/src/main/resources/tools.xml">
                            <span class="icon"><i class="fab fa-github"></i></span>
                            <span>Improve tool list</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <h1 class="title">Tools for: <span th:text="${query}">hoge</span></h1>
            <div th:if="${tools.isEmpty()}">
                <div class="notification is-warning">
                    <p>There are no libraries which fits your query.</p>
                    <p>Why don't you <a href="https://github.com/blackawa/java-toolbox/issues/new">create issue</a> to
                        improve java-toolbox?</p>
                </div>
                <h2 class="title is-4">Or, how about another query?</h2>
                <form>
                    <form th:action="@{/search}">
                        <div class="field">
                            <div class="control has-icons-right">
                                <input class="input is-large" type="text" name="query"
                                       placeholder="Search for tools...">
                                <span class="icon is-large is-right"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </form>
                </form>
            </div>
            <table class="table is-fullwidth" th:if="${!tools.isEmpty()}">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Description</th>
                    <th>Tags</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tool : ${tools}">
                    <td th:text="${tool.name}"></td>
                    <td><a th:text="${tool.url}" th:href="${tool.url}" target="_blank"></a></td>
                    <td th:text="${tool.description}"></td>
                    <td class="tags">
                        <a class="tag" th:each="tag : ${tool.tags}" th:text="${tag.name}" th:href="@{/tags/{tagName}(tagName=${tag.name})}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>