<!DOCTYPE html>
<html>
<head>
    <title>Find the best java tools and libraries | java-toolbox.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find the best java tools and libraries.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">JAVA TOOLBOX</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar">
                <a class="navbar-item" href="/">
                    <span class="icon"><i class="fas fa-search"></i></span>
                    <span>Freeword</span>
                </a>
                <a class="navbar-item" href="/tags">
                    <span class="icon"><i class="fas fa-tags"></i></span>
                    <span>Tags</span>
                </a>
                <span class="navbar-item">
                    <a class="button is-dark" target="_blank"
                       href="https://github.com/blackawa/java-toolbox/blob/master/src/main/resources/tools.xml">
                        <span class="icon"><i class="fab fa-github"></i></span>
                        <span>Improve tool list</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>
<div class="hero is-dark">
    <div class="hero-body has-text-centered">
        <h1 class="title">Oops! 404!</h1>
        <p class="subtitle">There's nothing you want.</p>
    </div>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</body>
</html>
