<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div layout:fragment="content">
    <section class="hero is-light is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" th:href="@{/}">JAVA TOOLBOX</a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar">
                            <a class="navbar-item" th:href="@{/}">
                                <span class="icon"><i class="fas fa-search"></i></span>
                                <span>Freeword</span>
                            </a>
                            <a class="navbar-item" th:href="@{/tags}">
                                <span class="icon"><i class="fas fa-tags"></i></span>
                                <span>Tags</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1">Search for your best java tools.</h1>
                <form th:action="@{/search}">
                    <div class="field">
                        <div class="control has-icons-right">
                            <input class="input is-large" type="text" name="query" placeholder="Search for tools...">
                            <span class="icon is-large is-right"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>